@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans:wght@300;600&family=Red+Hat+Display&family=Roboto:ital,wght@1,300&family=Spartan:wght@400;500;700&display=swap');

body{
    background-image: url("images/bg-pattern-top-desktop.svg"),url("images/bg-pattern-bottom-desktop.svg");
    font-family: 'Spartan', sans-serif;
    background-repeat: no-repeat,no-repeat;
    background-position: top left,bottom right;
    font-size: 15px;
}
main{
    margin: 70px 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
h1{
    font-size: 40px;
    padding-right: 80px;
    color: hsl(300, 43%, 22%);
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.head-left{
    width: 35%;
    padding-right: 150px;
}
.head-left p{
    color:hsl(303, 10%, 53%);
    line-height: 22px;
}
.head-right{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    
}
.up-up,.mid-mid,.down-down{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 6px;
    width: 450px;
}
.mid-mid{
    margin-left: 35px;
}
.down-down{
    margin-left:70px;
}
.stars{
    margin-right: 35px;
}
.stars img{
    margin-right: 6px;
}
.rated{
    font-weight: bold;
    color:hsl(300, 43%, 22%);
}
section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.card{
    width: 310px;
    border-radius: 10px;
    margin-right: 30px;
    background-color: hsl(300, 43%, 22%);
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 0px 25px;
    color:hsl(300, 24%, 96%);
    line-height: 22px;
}
span{
   color:hsl(333, 80%, 67%);
   font-weight: normal;
}
.mil{
    margin-top: 15px;
}
.right{
    margin-top: 30px;
}
.haut{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.haut p{
    font-weight: bold;
}
section img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}
@media screen and (max-width:600px) {
 main{
     margin:40px auto;
     
     width: 90%;     
 }   
 body{
     width: 375px;
 }
 h1{
     text-align: center;
     font-size: 40px;
     padding-right: 0px;
 }
 header{
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     flex-direction: column;
     align-items: center;
     margin-bottom: 30px;
     
 }
 .head-left{
    width: 100%;
    padding-right: 0px;
 }
 .head-right{
     width: 100%;
     justify-content: stretch;
 }
 .head-left p{
     text-align: center;
 }
 .up-up,.mid-mid,.down-down{
    flex-direction:column;
    align-items: center;
    padding: 15px 0px;
    margin-bottom: 20px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 6px;
    width: 100%;
}
.mid-mid{
    margin-left: 0px;
}
.down-down{
    margin-left:0px;
}

section{
    margin-left: auto;
     margin-right: auto;
         justify-content: center;
    width: 100%;
}
 .card{
    margin-right: 0px;
 }
 .right{
    margin-top: 15px;
}
.rated{
    margin-bottom: 0px;
}
.card{
    width: 100%;
    margin-right: 0px;
    padding: 0px 0px;
}   
.haut,.bas{
    padding-left: 30px;
    padding-right: 30px;
}
}
